/* padding: 0rem 13rem; */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
/* font-family: 'Noto Sans', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    font-family: 'Noto Sans', sans-serif;
    min-height: 100vh;
    background: url("./img/HomePageIntro.png");
    background-size: cover;
}

.landing{
    min-height: 100vh;
    background: url("./img/HomePage.png");
    background-size: cover;
}

nav{
    color: rgb(31, 31, 31);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    background-color: white;
}

ul{
    display: flex;
    list-style: none;
    padding-left: 10rem ;
    padding-right: 10rem;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.nav-links li{
    padding-left: 7rem;
    font-weight: 400;
    font-size: 25px;
}

.nav-logo{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
}

.img-logo{
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

.img-logo img{
max-height: 5vh;
}




/* INTRO */


.intro{
    backdrop-filter: blur(50px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    background-color: #593368;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
}

.intro-text{
    color: rgb(243, 243, 243);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 3rem;

}

.hide{
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}

