@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Noto+Sans:wght@400;700&display=swap');
/* #343A40 - blue/gray light  #2f353b - hover 
   #212529 - blue/gray medium
   #16191c - blue/gray dark 
   #2E2E2E - gray
   #292e32 - blue gray

   #2CAFE5 - blue  #2384ad - hover 
   #2E449E - navy   */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background-color: #16191c;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./Image/20220220235800_1.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  height: 100px;
  background-color: #16191c;
  box-shadow: 0 15px 50px #111;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 900;
  transition: 0.3s;
}

.links ul {
  display: flex;
  list-style-type: none;
}

.links li a {
  padding: 38px 50px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
}

.links li a:hover {
  background-color: #212529;
  box-shadow: 0 15px 50px #111;
}

.navBtnDiscord {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 650px;
}

.center p {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

.center b {
  font-weight: 900;
  font-size: 55px;
}

.center button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a9fd1;
  background-image: linear-gradient(
    -60deg,
    transparent,
    transparent 40%,
    #ffffff44 40%,
    #ffffff44 60%,
    transparent 60%,
    transparent 100%
  );
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position-x: 150%;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin: 40px 0;
  padding: 25px 60px;
}

.center button:hover {
  background-position: -150%;
  transition: background-position-x 1500ms, box-shadow 600ms;
  box-shadow: 0 15px 50px rgba(42, 159, 209, 0.3);
}

.center img {
  height: 50px;
  margin-right: 20px;
}

.scrollIcon img {
  position: absolute; /* Set the navbar to fixed position */
  top: 90%; /* Position the navbar at the top of the page */
  height: 50px; /* Full width */
}

.moveUp {
  position: fixed;
  bottom: 8vh;
  right: 23vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px #111;
}

.moveUp:hover {
  transition: box-shadow 300ms;
  box-shadow: 0 15px 50px #111;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: #292e32;
}

@media only screen and (max-width: 1300px) {
  .links ul {
    display: none;
  }

  .navbar {
    padding: 0;
    justify-content: center;
    gap: 100px;
    height: 200px;
  }

  .moveUp {
    display: none;
  }

  .center p {
    font-size: 70px;
  }

  .center b {
    font-size: 75px;
  }

  .center button {
    margin-top: 150px;
    padding: 40px 75px;
    border-radius: 30px;
    font-size: 60px;
    box-shadow: 0 15px 50px rgba(42, 159, 209, 0.3);
  }

  .center img {
    height: 100px;
    margin-right: 20px;
  }

  .navBtnDiscord {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navBtnDiscord img {
    height: 50px;
    margin-right: 20px;
  }

  .navBtnDiscord button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
  }
}
